h1{
    text-align: center;
}
#container {

    padding-left: 10%;
    padding-right: 10%;
    margin-top: 3%;
}

#mainText {
    margin-top: 3%;
}

p {
    text-align: justify;
    height: 100%;
}

.tekst{
  
    height: 100%;
    width: 100%;

}

.right{
    padding-top: 10%;
    float: right;
    width:  50%;
    }

.left{
    padding-top: 10%;
    float: left;
    width:  50%;
   
}

#success {
    width: 45%;
    margin: 5px;
    float: left;
}

#software {
    width: 45%;
    margin: 5px;
    float: left;
}

#chess{
    width: 45%;
    margin: 5px;
    float: right;
}

#printer {
    width: 40%;
    margin: 5px;
    float: right;
}

.part {
    display: inline-block; 
    vertical-align: middle;
}

